<%- include('./includes/head.ejs') %>

<div class="container">
   <%- include('./includes/navigation.ejs') %>
   
   <% if(message) { %>
      <%- include('./includes/error.ejs') %>
   <% } %>

   <section class="Hero">
      <%- include('./includes/heroInfo.ejs') %>

      <div class="Hero__right">
         <form action="/user/forgetPassword" method="POST" class="Hero__form--forget">
            <h2 class="heading--secondary">
               Enter Valid Email
            </h2>
            <input
               name="email"
               type="text"
               placeholder="Email"
               class="Hero__form--input"
            />

            <button type="submit" class="btn--secondary">
               Send Email
            </button>
         </form>
      </div>
   </section>
</div>

<%- include('./includes/end.ejs') %>
