<%- include('./includes/head.ejs') %>

<div class="container">
   <%- include('./includes/navigation.ejs') %>

   <% if(message) { %>
      <%- include('./includes/error.ejs') %>
   <% } %>

   <section class="Hero">
      <%- include('./includes/heroInfo.ejs') %>

      <div class="Hero__right">
         <form accept="/user/newPassword" method="POST" class="Hero__form--login">
            <h2 class="heading--secondary">New Password</h2>
            <input name="password" type="text" placeholder="New Password" class="Hero__form--input" />
            <input name="passwordConfirm" type="text" placeholder="Confirm Password" class="Hero__form--input" />
            <input type="hidden" name="token" value="<%= token %>" />

            <button class="btn--secondary">
               Update Password
            </button>
         </form>
      </div>
   </section>
</div>

<%- include('./includes/end.ejs') %>
